<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name%></h1>
    <p>
      Nous sommes ravie que nos chatons t'ai plus !!!
    </p>
    <p>
      Tu trouvera en PJ les photos que tu as commandé
    </p>
  </body>
</html>