<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut</h1>
    <p>
      J'ai une super bonne nouvelle à t'annoncé !!!
    </p>
    <p>
      Tu as eu une nouvelle commande de <%= @user.cart.total %> € !!! <br>
      Voici le numéro de facture : (mettre l'id de la facture de la commande) <br>
      C'est top cool
    </p>
  </body>
</html>