<div class="container text-center my-5">
<h2>Merci pour votre commande </h2> 
<p>Votre commande de <strong><%= number_to_currency(@total, unit: "€", separator: ".", format: "%n %u") %></strong> a bein été enrgegistré</p>
</div>
