<p> Salut <%= @resource.first_name %>!</p>

<p>On dirait que tu as oublié ton mot de passe. Pas de panique, tu peux le changer en cliquant sur ce lien :</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Tu n'as pas demandé à changer ton mot de passe?
</p>
<p>Oublie cet email, celui-ci restera inchangé ;)</p>