<footer class="footer py-6 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 mb-3 mb-xl-0">
        <img src="url(asset_path(logo.jpg))" height="30" class="mb-3" alt="logo">
        <p>Le site avec les plus beaux chatons du net</p>
      </div>
      <div class="col-6 col-xl-2 mb-5 mb-xl-0">
        <span class="h5">Autre</span>
        <ul class="footer-links mt-2">
          <li><a  href="#">About Us</a></li>
          <li><a  href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-3 my-lg-5">
    <div class="row">
      <div class="col mb-md-0">
        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
          <p class="font-weight-normal font-small mb-0">Copyright © THP-Team
            <span class="current-year">2020</span>. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>